@import '../../../../styles/variables';
@import '../../../../styles/palette';
@import '../../../../styles/mixins';

$statusTag: #{$uiPrefix + '-status-tag'};

@mixin applyStatus ($color, $borderColor: '') {
  @if ($borderColor == '') {
    border-color: $color;
  } @else {
    border-color: $borderColor;
  }

  color: $color;
}

#{$statusTag} {
  display: inline-block;
  border: 1px solid;
  border-radius: 2px;
  font-size: 13px;
  padding: 0 8px;
  line-height: 24px;

  @include openSans();
  @include transition(all 250ms ease-in-out);
  @include applyStatus($black50, $black12);

  &[status="success"] {
    @include applyStatus($success);
  }
}
