@import '../../styles/variables';
@import '../../styles/palette';

$pagination: #{$uiPrefix + '-pagination'};

#{$pagination} {
  display: block;

  button {
    border: 1px solid #dddddd;
    border-radius: 2px;
    color: $azure;
  }
}
