@mixin clearfix () {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin openSans () {
  font-family: 'Open Sans', sans-serif;
}

@mixin paddingX ($padding) {
  padding-left: $padding;
  padding-right: $padding;
}

@mixin paddingY ($padding) {
  padding-top: $padding;
  padding-bottom: $padding;
}

@mixin square ($measure) {
  width: $measure;
  height: $measure;
}

@mixin placeholderColor ($color) {
  &:-ms-input-placeholder {
    color: $color;
  }

  &::-moz-placeholder {
    color: $color;
  }

  &::-webkit-input-placeholder {
    color: $color;
  }
}

@mixin transition ($transition) {
  -o-transition: $transition;
  -moz-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin transform ($transform) {
  -o-transform: $transform;
  -ms-transform: $transform;
  -moz-transform: $transform;
  -webkit-transform: $transform;
  transform: $transform;
}

@mixin userSelect ($userSelect) {
  -ms-user-select: $userSelect;
  -moz-user-select: $userSelect;
  -webkit-user-select: $userSelect;
  user-select: $userSelect;
}
