@import '../../../../styles/variables';
@import '../../../../styles/palette';
@import '../../../../styles/mixins';

$card: #{$uiPrefix + '-card'};
$content: #{$card + '-content'};
$footer: #{$card + '-footer'};

#{$card} {
  @include transition(all 250ms ease-in-out);

  background-color: white;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 $black12;

  &, #{$content}, #{$footer} {
    display: block;
  }

  #{$content}, #{$footer} {
    padding: 8px 16px;
  }

  #{$footer} {
    border-top: 1px solid $black12;
  }
}
